@model IEnumerable<MyIdentity.Domain.Entities.UserClaim>

@{
    ViewBag.Title = "Claim List";
}

<h2>ClaimList</h2>

<p>
    @Html.ActionLink("Add Claim", "AddClaim") | @Html.ActionLink("Remove Claim", "RemoveClaim")
</p>
<table class="table">
    <tr>        
        <th>
           Type
        </th>
        <th>
            Value
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>        
        <td>
            @Html.DisplayFor(modelItem => item.ClaimType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClaimValue)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey * }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
